@import url(main_responsive.css);
@import "compass";

/************************ Activities **************************/
.todo-portlet {
    position: relative;
}

.todo-portlet ul {
    margin: 0;
}

.todo-portlet li {
    list-style: none;
}

.todo-portlet .activity-title i {
    border-radius: 3px;
    background: #3a7;
    font-size: 1.5em;
    padding: .2em .3em;
    margin-right: .5em;
    color: white
}

.todo-portlet .activity-title {
    display: inline-block;
    width: 62%;
    margin-left: 2.5em
}

.todo-portlet .event-title {
    display: block
}

.todo-portlet .tasks li {
    padding: 1em 0;
    border-bottom: solid 1px #ccc;
    position: relative;
}

.todo-portlet .tasks li:hover {
    background: #f0f0f1;
    cursor: pointer;
}

.todo-portlet .activity-date {
    display: inline-block;
	margin-left: 2.6em;
    vertical-align: top;
    margin-right: 4.6em;
}

.todo-portlet .subtitle {
    padding: 0.1em 1.0em;
    font-size: 1.3em;
    background: #666;
    display: block;
    color: #FFF;
    font-weight: lighter;
    letter-spacing: .1em;
    border-bottom: 1PX solid #333
}

.todo-portlet .previous-tasks-count,
.todo-portlet .today-tasks-count,
.todo-portlet .tomorrow-tasks-count,
.todo-portlet .future-tasks-count {
    float: right;
}

/******************** Activities marked as finished **********************/
.todo-portlet .done {
    background: #999
}

.todo-portlet .activities-list li.done:hover {
    background: #888
}

.todo-portlet .done span {
    text-decoration: line-through;
    color: #FFFFFF;
}

.todo-portlet .activity-undo {
    display: none
}

.todo-portlet .activity-undo {
    display: none
}

.todo-portlet .done .activity-undo {
    display: inline-block
}

.todo-portlet .done .activity-finished {
    display: none
}

/******************** Activity buttons **********************/
.todo-portlet .btn.activity-delete {
    background-color: #e81122;
    @include background-image(linear-gradient(top bottom, #f45, #e81122));
    background-repeat: repeat-x;
    border: #A12 solid 1px;
    color: #FFF;
    text-shadow: none;
    font-size: 1.4em;
	position: absolute;
	right: 1em;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-moz-transform:    translateY(-50%);
  	-ms-transform:     translateY(-50%);
  	-o-transform:      translateY(-50%);
  	transform:         translateY(-50%);
}

.todo-portlet .btn.activity-delete:hover {
    background-color: #e81122;
    color: white
}

.todo-portlet .btn.activity-finished,.btn.activity-undo,.btn.activity-undo.icon-check {
    background-image: none;
    border: 0;
    color: #385;
    text-shadow: none;
    font-size: 1.4em;
    margin-left: .5em;
    vertical-align: middle;
    background: rgba(0,0,0,0);
    box-shadow: none;
    position: absolute;
    top: 32%;
    left: 0;
    padding: 0;
}

.todo-portlet .btn.activity-finished:hover,.btn.activity-undo:hover {
    color: #385;
    background-color: transparent
}

.todo-portlet .btn.activity-finished:active,.btn.activity-undo:active {
    box-shadow: none
}

.todo-portlet .btn.activity-finished:focus,.btn.activity-undo:focus {
    outline: 0;
    color: #163;
    background-color: transparent
}

.todo-portlet .add-submit.icon-plus-sign {
    font-size: 1.4em
}

.todo-portlet .add-reminder .btn {
    margin: 1em;
    position: absolute;
    top: -15px;
    right: 0;
}

/* Hide the check button if the task is not done yet */
.btn.activity-undo.icon-check {
	display: none;
}

/* Only show the check button when the task was marked as done */
.done .btn.activity-undo.icon-check {
	display: block;
}

/******************** Edit/Add Section **********************/

.todo-portlet .edit {
    display: none;
    padding: 0 2em;
}
.todo-portlet .edit .edit-description {
    font-size: 1em;
    padding: 1em;
    margin-top: .5em;
    display: block;
    height: 60px;
    max-width: 100%;
}

.todo-portlet .edit input[type=text] {
	height: 30px;
}

.todo-portlet .edit .field-required {
    padding: .5em;
    width: 70%;
    cursor: default;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.todo-portlet .edit .reminder-value {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
}

/** added important to override importants added by aui **/
.todo-portlet .edit.show {
    display: block!important
}

.todo-portlet .hide {
    display: none!important
}

.todo-portlet .buttons {
    padding-top: .5em
}

/************************ Add Modal *************************/
.add .controls .add-title, .add .controls .add-description, .add .controls .edit-time {
	width: 100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width:100%;
}

.add .controls .add-title, .add .controls .edit-time {
	height: 30px;
}

/************** Add to Calendar, Add Reminders **************/

.add-to-calendar, .add-reminder {
	vertical-align: baseline;
}

.add-to-calendar input[type=checkbox], .add-reminder input[type=checkbox] {
	vertical-align: baseline;
}

.reminders {
	display: block;
}

.reminders.reminders-hidden {
	display: none;
}

.reminders > .reminder > .add-reminder {
	display: inline-block;
}

.reminders > .reminder > .reminder-value {
	width: 50px;
	margin-right: 5px;
	margin-left: 5px;
}

.reminders > .reminder > .reminder-duration {
	width: 100px;
}

/************************ Calendar **************************/
.yui3-calendarnav-prevmonth:before {
    content: "\f053";
    font-family: 'fontawesome-alloy';
    font-size: 17px;
}
.yui3-calendarnav-nextmonth:before {
    content: "\f054";
    font-family: 'fontawesome-alloy';
    font-size: 17px;
}

/************************ Toggling tasks categories **************************/
.todo-portlet .dragged {
    opacity: .5
}

.todo-portlet .dragged {
    padding: 2em 0;
    background: #999;
    border: 1px solid #888;
    opacity: 0.5;
}
.todo-portlet .dragged .edit {
    display: none;
}

.default-visible ul {
    display: block;
}

.todo-portlet-loader {
    visibility: hidden;
    background: url(../images/loading_animation.gif);
    width: 32px;
    height: 32px;
    float: right;
}

.todo-portlet-loader.visible {
    visibility: visible;
}